.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  text-align: center;
}

.card{
  height: 100%;
  transition: all 0.5s ease-in-out;
  background-color: white;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}


/* ================= Media Queries (Medium Devices) ================ */
@media screen and (max-width: 1024px) {
  .card_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ================= Media Queries (Small Devices) ================ */
@media screen and (max-width: 600px) {
  .card_container {
    grid-template-columns: 1fr;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}